table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #000;
  text-align: center;
  margin: 20px 0;
}

caption {
  font-size: large;
  font-weight: 600;
  margin: 0 0 10px;
}

thead th,
tbody th {
  background-color: rgb(209, 204, 204);
}

thead th,
tbody td,
tbody th {
  border: solid 1px #000;
}

th,
td {
  padding: 20px;
}
